<style>
    body{
    background: url('public/img/bg.png') fixed;
    background-repeat: no-repeat;
    background-size: cover;
    }
@media (max-width: 480px){
    body{
        background: url('public/img/bg_mobile.png') no-repeat;
        background-size: cover;
    }
}


</style>
<div id="botao">
    <a class="try" href="/home" style="color: inherit;">TRY NOW</a>
</div>