<div>
    <h1>
        Bolsa de Valores
        <br /><br /><br/>

        <input type="search" name="Search" id="">
        {{#each dados}}
            <p>Moeda: {{name}}</p> <br>
            <p>Cotação: {{bid}}</p> <br>
            <P>Variação: {{varBid}}</P>
            <p>Dia: {{create_date}}</p> <br>
            <p></p> <br>
        {{/each}}
    </h1>
</div>