
/* CSS */
.try{
align-items: center;
font-weight: 500;
background-color: #d6d9d9;
border: 2px solid #4c4e4b;
border-radius: 8px;
box-sizing: border-box;
color: #4c4e4b;
cursor: pointer;
display: flex;
font-family: Inter,sans-serif;
font-size: 16px;
height: 48px;
justify-content: center;
line-height: 24px;
max-width: 100%;
padding: 0 25px;
position: relative;
text-align: center;
text-decoration: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.try:after {
background-color: #4c4e4b;
border-radius: 8px;
content: "";
display: block;
height: 48px;
left: 0;
width: 100%;
position: absolute;
top: -2px;
transform: translate(8px, 8px);
transition: transform .2s ease-out;
z-index: -1;
}

.try:hover:after {
transform: translate(0, 0);
}

.try:active {
background-color: #d6d9d9;
outline: 0;
}

.try:hover {
outline: 0;
}

.div-svg{
    flex: 0 0 auto;
    width: 50%;
}
.svg{
    width: 75%;
    height: 75%;
    margin-top: .5rem;
}

@media (max-width: 480px){
    .svg{
        align-items: center;
        align-items: end;
        width: 5rem;
        height: 5rem;
    }
    .div-svg{
        height: 8%;
        
    }
    .grafico{
        height: 100%;
    }
}

@media (min-width: 768px) {
.try {
    padding: 0 40px;
}


#botao{
    left: 0%
}
}

#botao{
    position: absolute;
    top: 80%;
    left: 50%;
}

.grafico{
    height: 25rem;
}
